img {
  height: 100px;
  width: 500px;
  overflow: hidden;
  object-fit: cover;
}

.movieDiv {
  background-color: gray;
  text-align: center;
}

.movieDiv:nth-of-type(odd) {
  background-color: slategray;
}

.count {
  float: left;
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

#root {
  margin: 0 auto;
  width: 940px;
}

p {
  padding: 0;
  margin: 0;
}
